.records p {
  margin: 5px;
}

.record-detail {
  line-height: 20px;
}

.record-title {
  font-size: 20px;
  line-height: 20px;
  font-family: 'Roboto Mono', monospace;
  overflow-wrap: break-word;
}

.record-date {
  font-size: 10px;
}

.category-icon {
  color: #4483ec;
}

.records {
  border-radius: 8px;
  background-color: #4483ec;
}

.total-amount span {
  font-size: 50px;
  font-style: italic;
}

.total-amount span:first-child {
  font-size: 25px;
}

.total-amount-price {
  background: linear-gradient(#fff 50%, #b5cdf8 0%) !important;
  font-size: 50px;
}

.list-group-item {
  background-color: #f7f5fb !important;
  border: 1px solid #fef5eb !important;
}

.record-amount {
  font-size: 1.2em;
}
.filter-icon {
  font-size: 1.5em;
  color: #8e9aaf;
}
.edit-title,
.new-title {
  background: linear-gradient(#fff 50%, #b5cdf8 0%) !important;
}
